/* Styles for Click with Friends */

body {
font-family: 'Shadows Into Light', cursive;
background-color: #FFFAD5;
}

.larger-font {
  font-size: 200%;
}

.smaller-font {
  font-size: 150%;
}

.dimmed {
  opacity: 0.6;
}